@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf0f1;
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 70px;
}
h1{
    cursor: pointer;
    font-size: 25px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #539D8B;
    max-height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
}
.search-bar > form > input{
    border-radius: 5px;
    height: 25px;
}
.search-bar > form  > button{
    border-radius: 5px;
    height: 25px;
    background-color: #edf0f1;
    color: #539D8B;
    cursor: pointer;

}
/* akuma */
main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
}

.input_section > h2 {
    text-align: center;
    color: #539D8B;
}

.input_section > form > .input {
    margin: 25px 0;
}

.input_section > form > button {
    background-color: #539D8B;
    color: #edf0f1;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.input_section > form > .input > label {
    color: #539D8B;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #539D8B;
    font-weight: bold;
    margin-right: 10px;
}

/* --------------akuma2------------------- */

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: #539D8B;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: #edf0f1;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: #edf0f1;
}